{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "@nuxt/eslint-config",
    "plugin:prettier/recommended",
    "plugin:vue/vue3-essential"
  ],
  "rules": {
    "semi": [2, "never"],
    "quotes": [2, "single"],
    "no-console": "off",
    "vue/max-attributes-per-line": "off",
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true,
      "trailingComma": "none",
      "printWidth": 120
    }],
    "vue/multi-word-component-names": "off"
  }
}
